<div class="jumbotron">
    <h1 class="display-4">Hi,
    </h1> <h1 class="display-4">I'm Hassan
       
    </h1> <h1 class="display-4">
        Software/Web Developer
    </h1>
    <p class="lead">Software Enginer / Fullstack Developer / Learner</p>
    <hr class="my-4">
        <!-- <a routerLink="/contact"> -->
            <a class="btn btn-primary btn-lg"  role="button" routerLink = "/contact">Contact me</a>
        <!-- </a> -->
  </div>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  